
.formAuth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 450px;

    background-color: white;

    &__title{

        color: rgb(12, 113, 20);
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 15px;
    }

    &__form{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 70%;
        height: 350px;
        background-color: white;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        border: 2px solid green;
        box-shadow: 5px 5px 5px green;

        &__input{
            width: 250px;
            font-size: 20px;
            padding: 10px;
            margin: 10px 0px;
            border-color: green;
            border-radius: 12px;
            border-style: ridge;
            text-align: center;
        }

        &__button{
            width: 100px;
            height: 40px;
            font-size: 20px;
            border-radius: 10px;
            border-style: unset;
            box-shadow: 2px 2px 2px grey;
            background-color: rgb(250, 250, 67);
            color: black;
            font-weight: bold;
            margin-top: 15px;
        }

    }
}

.formIMG{
    height: 350px;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 80%;
        height: 300px;
    }
}