
.c-galleryShop {

    background-color: rgb(19, 89, 33);

    &__title {
        color: white;
        font-weight: bold;
        margin-top: 25px;
    }

    &__products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        &__product{
            margin: 15px;
        }
    }

}