
.p-adoptionPage {

    display: flex;
    flex-direction: column;
    background-color: white;

    &__img {
        margin-left: 10%;
        margin-top: 15px;
        width: 80%;
        height: 400px;
    }
    
    &__list {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        background-color: white;

        &__card{
            color: white;
        }
    }
}
