.c-notAdoption {

    background-color: white;

    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    &__info {
        width: 60%;
        padding: 15px;

        border: 2px solid green;
        box-shadow: 5px 5px 5px rgb(1, 94, 1);
    }

    &__img {
        width: 75%;
        margin-top: 50px;
    }

}