.c-header{

    background-color: rgb(19, 89, 33);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    &__logo{

        display: flex;
        justify-content: center;
        align-items: center;

        & h3 {
            font-weight: bold;
            color: yellow;
            margin-top: 15px;
            font-size: 40px;
        }
    }

    &__nav{

    width: 100%;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    }

    &__link{

        color: white;
        text-decoration: none;
        font-weight: bold;
        margin: 15px;
        font-size: 20px;
    }


}