.c-homePage{

    background-color: rgb(19, 89, 33);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & img {
        width: 100%;
        height: 20%;
    }

    &__info{
        width: 80%;
        height: 170px;
        margin: 15px;

        & h3 {
            color: white;
            font-weight: bold;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin-top: 15px;
        }

        & h5 {
            color: white;
            font-weight: bold;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    }

    &__accordion{

        width: 80%;


    }

}