img {
    width: 100%;
}

.c-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url("https://cdn.pixabay.com/photo/2015/03/27/13/16/maine-coon-694730_1280.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    &__input{

        margin: 15px;
        border-radius: 15px;
        width: 33%;   
        text-align: center;

        &__text{
            height: 150px;
            width: 33%;
            margin: 15px;
            border-radius: 15px;
            text-align: center;
        }

    }

    &__button {
        margin: 15px;
        background-color: yellow;
        color: black;
        font-size: 15px;
        width: 100px;
        height: 50px;
        font-size: 20px;
        font-weight: bold;
        border-radius: 10px;
    }
}